@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-sans: 'Inter', sans-serif;

		/* General colors */
		--background: #f2f2f2;
		--foreground: #0d0d0d;

		--primary: #50596d;
		--primary-foreground: var(--foreground);

		--secondary: #363a44;
		--secondary-foreground: var(--foreground);

		--accent: #4aa6b0;
		--accent-foreground: var(--foreground);

		--accent1: #7aaeba;
		--accent1-foreground: var(--foreground);

		--accent2: #8bb8c2;
		--accent2-foreground: var(--foreground);

		--accent3: #9bc2cb;
		--accent3-foreground: var(--foreground);
		--accent3-hover: #9bc2cb78;

		--muted: #e1e1e1;
		--muted-foreground: var(--foreground);

		--error: #db283b;
		--error-foreground: var(--foreground);
		--error-hover: #e95a5c;
		--error-outline: #db283a74;

		--success: #20a453;
		--success-foreground: var(--foreground);
		--success-hover: #4fc872;

		--warning: #db8630;
		--warning-foreground: var(--foreground);
		--warning-hover: #e9ac60;

		--card: #f2f2f2;
		--card-foreground: var(--foreground);

		--background1: #e1e1e1;
		--background1-foreground: var(--foreground);

		--background2: #d0d0d0;
		--background2-foreground: var(--foreground);

		--background3: #c0c0c0;
		--background3-foreground: var(--foreground);

		--border: #c0c0c0;
		--input: var(--foreground);
	}

	.dark {
		/* General colors */
		--background: #0d0d0d;
		--foreground: #f2f2f2;

		--primary: #929baf;
		--primary-foreground: var(--foreground);

		--secondary: #bbbfc9;
		--secondary-foreground: var(--foreground);

		--accent: #4fabb5;
		--accent-foreground: var(--foreground);

		--accent1: #80b1bc;
		--accent1-foreground: var(--foreground);

		--accent2: #95bec7;
		--accent2-foreground: var(--foreground);

		--accent3: #aacbd2;
		--accent3-foreground: var(--foreground);
		--accent3-hover: #aacbd278;

		--muted: #242424;
		--muted-foreground: var(--foreground);

		--error: #e95a5c;
		--error-foreground: var(--foreground);
		--error-hover: #db283b;
		--error-outline: #e95a5c7b;

		--success: #4fc872;
		--success-foreground: var(--foreground);
		--success-hover: #20a453;

		--warning: #e9ac60;
		--warning-foreground: var(--foreground);
		--warning-hover: #db8630;

		--card: #0d0d0d;
		--card-foreground: var(--foreground);

		--background1: #242424;
		--background1-foreground: var(--foreground);

		--background2: #3b3b3b;
		--background2-foreground: var(--foreground);

		--background3: #545454;
		--background3-foreground: var(--foreground);

		--border: #545454;
		--input: var(--foreground);
	}

	body {
		background-color: var(--background);
		color: var(--foreground);
		font-family: var(--font-sans);
	}
}
